<div class="test contur" ng-controller="test_2_Ctrl">
<div>{{tomorrow | date:"dd MMM yyyyг. HH:mm"}}</div>
   <section class="todo-body">
      <div class="todo-container contur " ng-class="reverseList?'reverse':''">
         <div class="todo-panel contur-black" style="overflow: visible">
            <!--<div class="direct-panel">-->
               <!--<input type="checkbox" value="false" ng-model="reverseList">-->
               <!--<div>перевернуть список</div>-->
               <!--<div style="flex: 1 1 auto; width: 100%"></div>-->
            <!--</div>-->
            <!--value=""-->
            <form name="taskForm" class="input-panel" ng-submit="addTask()" ng-dblclick="storage.todoList=[]">
               <input class="form-control"
                      type="text"
                      name="taskText"
                      placeholder=" < введите задачу >"
                      ng-model="task.taskText"
                      ng-model-options="{timezone:'UTC-0300'}"
                      required="true"
                      ng-change="taskChange()"
                      style="flex:1 1 auto">
               <!--value=""-->
               <div class="input-group" style="flex:0 0 auto;width: 175px;height:28px;margin-left:0">
                  <div class="form-control" style="padding:5px;width:130px;height:28px;margin-left:0;font-size: 13px">
                     {{task.taskEnd | date:"dd MMM yyyy HH:mm"}}
                  </div>
                  <input type="text" class="form-control"
                         style="padding:0;width: 130px;height: 28px;margin-left:-130px;position:relative;z-index:-1"
                         name="taskEndText"
                         ng-change="timeChange()"
                         datepicker-popup="{{format}}"
                         placeholder="дд.ММ.гггг  чч:мм"
                         ng-model="pickerDate"
                         is-open="opened"
                         datepicker-options="dateOptions"
                         ng-required="true"
                         close-text="Закрыть"
                         current-text="Сегодня"
                         clear-text="Очистить"
                         close-on-date-selection="true"
                         datepicker-append-to-body="true"
                         show-weeks="false"
                        />
                  <span class="group-btn">
                     <button type="button" class="btn btn-default"
                             style="width: 28px;height: 28px;padding: 2px;margin-left:-3px;position:relative;z-index:5"
                             ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
               </div>

               <input  type="submit" value="Добавить" class="add-btn">
               <!--min="task.taskStart"-->
            </form>
         </div>
         <div class="todo-item contur"  ng-class="taskStatus($index)"
                              ng-repeat="todo in storage.todoList track by $index">

            <div class="todo-text">
               <div class="label" ng-class="taskStatus($index)">Задача  
                  <small style="font-size: 70%;color:#779"> • {{todo.taskStart | date:"dd.MM.yyyy HH:mm"}} •</small></div>
               <div class="todo-content" ng-class="taskStatus($index)"
                     title="{{todo.taskText}}" >{{todo.taskText}}</div>
            </div>

            <div class="todo-end">
               <div class="label" ng-class="taskStatus($index)">Завершение</div>
               <div class="todo-content" ng-class="taskStatus($index)">{{todo.taskEnd | date:"dd MMM yyyyг. HH:mm"}}</div>
            </div>
            <div class="todo-done">
               <input type="checkbox" value="false" ng-true-value="1" ng-false-value="0" ng-model="todo.taskDone">
               <div class="done-label" ng-class="taskStatus($index)"
                    ng-click="todo.taskDone=(todo.taskDone+1)%2">Завершена</div>
            </div>
            <div class="todo-delete">
               <div ng-show="taskStatus($index)" title="удалить задачу" ng-click="deleteTask($index)"></div>
            </div>

         </div>
      </div>
   </section>

</div>